<%- include('partials/header.ejs') %>
<main class="py-4">
  <div id="input-container" class="grid-container">
    <div class="outer-content-container">
      <h4>Followers</h4>
      <a role="button" class="btn btn-dark download-button" href="/download/followers.json" aria-label="Download the followers data in JSON format" download>Download</a>
      <div id="followers" class="content-container">
        <% for (const user of data[0]) {%>
          <div class="user-card">
            <p><%=user.username%></p>
            <p><%=user.name%></p>
          </div>
        <% } %>
      </div>
    </div>
    <div class="outer-content-container">
      <h4>Following</h4>
      <a role="button" class="btn btn-dark download-button" href="/download/following.json" aria-label="Download the following data in JSON format" download>Download</a>
      <div id="following" class="content-container">
        <% for (const user of data[1]) {%>
          <div class="user-card">
            <p><%=user.username%></p>
            <p><%=user.name%></p>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  <div id="output-container" class="grid-container">
    <div class="outer-content-container">
      <h4>overlap</h4>
      <a role="button" class="btn btn-dark download-button" href="/download/overlap.json" aria-label="Download the overlap data in JSON format" download>Download</a>
      <div id="overlap" class="content-container">
        <% for (const user of data[2]) {%>
          <div class="user-card">
            <p><%=user.username%></p>
            <p><%=user.name%></p>
          </div>
        <% } %>
      </div>
    </div>
    <div class="outer-content-container">
      <h4>onlyinfollowers</h4>
      <a role="button" class="btn btn-dark download-button" href="/download/onlyInFollowers.json" aria-label="Download the only in followers data in JSON format" download>Download</a>
      <div id="onlyInFollowers" class="content-container">
        <% for (const user of data[3]) {%>
          <div class="user-card">
            <p><%=user.username%></p>
            <p><%=user.name%></p>
          </div>
        <% } %>
      </div>
    </div>
    <div class="outer-content-container">
      <h4>onlyinfollowing</h4>
      <a role="button" class="btn btn-dark download-button" href="/download/onlyInFollowing.json" aria-label="Download the only in following data in JSON format" download>Download</a>
      <div id="onlyInFollowing" class="content-container">
        <% for (const user of data[4]) {%>
          <div class="user-card">
            <p><%=user.username%></p>
            <p><%=user.name%></p>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer.ejs') %>